<div>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary " style="background-color: #000000;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/about">ANIS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about">About Myself</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" routerLink="/">Todo List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/cube3">CUBE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/spiral">Spiral</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/police">Chase</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <router-outlet></router-outlet>